body {
  margin: 0;
  background-image: url("../src/assets/ghibliCountrySide.jpg");
  background-size: cover;
}

.pomodoro-start{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 328px;
  height: 72px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.start-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;

  width: 149px;
  height: 52px;

  background: #FFFFFF;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.restart-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;

  width: 149px;
  height: 52px;

  background: #FFFFFF;
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.navbar {
    /* background: rgb(196, 32, 32); */
    padding: 1em;
    box-shadow: 2px 1px 12px black;
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  }
  
  .navbar .container {
    display: flex;
    place-content: space-between;
  }
  
  .navbar .mobile-menu {
    cursor: pointer;
  }

  av {
    position: fixed;
    z-index: 99;
    background: white;
    width: 66%;
    right: 0;
    top: 0;
    height: 70vh;
    padding: 1em;
  }
  
  nav ul.primary-nav {
    margin-top: 0.5em;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.2em;
  }
  
  .navbar nav li a .current {
    color: white;
  }
  nav li:hover {
    font-weight: bold;
  }
  
  .mobile-menu-exit {
    color: white;
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu,
    .mobile-menu-exit {
      display: none;
    }
  
    .navbar .container {
      display: grid;
      grid-template-columns: 180px auto;
      padding: 0;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      justify-content: right;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: flex;
      justify-content: right;
      list-style: none;
    }
    .navbar nav a {
      color: white;
      font-size: 1em;
      justify-content: right;
      padding: 0.1em 1em;
    }
    .navbar nav .primary-nav {
      margin: 0;
    }
  }

  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0px;
    }
    section {
      padding: 10em 4em;
    }
  }
/*********************************TASKBAR*****************************************/
  *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}