body {
  margin: 0;
  background-image: url("../src/assets/ghibliCountrySide.jpg");
  background-size: cover;
}

.navbar {
    /* background: rgb(196, 32, 32); */
    padding: 1em;
    box-shadow: 2px 1px 12px black;
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  }
  
  .navbar .container {
    display: flex;
    place-content: space-between;
  }
  
  .navbar .mobile-menu {
    cursor: pointer;
  }

  av {
    position: fixed;
    z-index: 99;
    background: white;
    width: 66%;
    right: 0;
    top: 0;
    height: 70vh;
    padding: 1em;
  }
  
  nav ul.primary-nav {
    margin-top: 0.5em;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.2em;
  }
  
  .navbar nav li a .current {
    color: white;
  }
  nav li:hover {
    font-weight: bold;
  }
  
  .mobile-menu-exit {
    color: white;
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu,
    .mobile-menu-exit {
      display: none;
    }
  
    .navbar .container {
      display: grid;
      grid-template-columns: 180px auto;
      padding: 0;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      justify-content: right;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: flex;
      justify-content: right;
      list-style: none;
    }
    .navbar nav a {
      color: white;
      font-size: 1em;
      justify-content: right;
      padding: 0.1em 1em;
    }
    .navbar nav .primary-nav {
      margin: 0;
    }
  }

  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0px;
    }
    section {
      padding: 10em 4em;
    }
  }
