@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
  margin: 0;
  background-image: url("../src/assets/lofiBackground.svg");
  background-size: cover;
}

.navbar {
    /* background: rgb(196, 32, 32); */
    padding: 1em;
    box-shadow: 2px 1px 12px black;
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  }
  
  .navbar .container {
    display: flex;
    place-content: space-between;
  }
  
  .navbar .mobile-menu {
    cursor: pointer;
  }

  av {
    position: fixed;
    z-index: 99;
    background: white;
    width: 66%;
    right: 0;
    top: 0;
    height: 70vh;
    padding: 1em;
  }
  
  nav ul.primary-nav {
    margin-top: 0.5em;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.2em;
  }
  
  .navbar nav li a .current {
    color: white;
  }
  nav li:hover {
    font-weight: bold;
  }
  
  .mobile-menu-exit {
    color: white;
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }

  .pomodoro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    position: absolute;
    left: 0px;
    top: 240px;
    
  }

  #start-btn{
    padding: 12px 36px;
    border-radius: 8px;
  }

  #restart-btn{
    margin-left: 10px;
    padding: 12px 24px;
    border-radius: 8px;
  }

  .timer{
    margin:0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    color: #FFFFFF;
  }

  /* three buttons */

  .pomodoro-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 96px 12px 111px;
    gap: 50px;
    width: 663px;
    height: 76px;
    border-radius: 8xp;
  }
  
  .pomodoro-btn{
    padding: 12px;
    gap: 10px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    color:black;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
  }

  .pomodoro-btn:hover{
    cursor: pointer;
    background:transparent;
    color:black;
  }

  /*  */

  @media only screen and (min-width: 768px) {
    .mobile-menu,
    .mobile-menu-exit {
      display: none;
    }
  
    .navbar .container {
      display: grid;
      grid-template-columns: 180px auto;
      padding: 0;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      justify-content: right;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: flex;
      justify-content: right;
      list-style: none;
    }
    .navbar nav a {
      color: white;
      font-size: 1em;
      justify-content: right;
      padding: 0.1em 1em;
    }
    .navbar nav .primary-nav {
      margin: 0;
    }
  }

  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0px;
    }
    section {
      padding: 10em 4em;
    }
  }

